/*--medium device--*/
@media only screen and (min-width: 992px) and (max-width: 1140px){
    .container{
        width: 970px;
    }
}

/*--tablet device--*/
@media only screen and (min-width: 768px) and (max-width: 991px){
    .container{
        width:750px;
    }
}