/*--reset code--*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body{
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    color: #333;
}
h2{
    color: rgb(53, 53, 53);
    font-size: 40px;
    font-weight: 700;
    text-transform: capitalize;
}
p{
    color: rgb(79, 87, 95);
    font-size: 16px;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
    transition: .5s;
    color: #333;
    font-size: 30px;
}
img{
    max-width: 100%;
    vertical-align: middle;
}
.btn{
    background: #f07e41;
    color: #333;
    text-transform: uppercase;
}
.btn:hover{
    background: darkorange;
    color: rgb(95, 91, 91);
}

/*--header start--*/
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px 0;
}
.header-logo{

}
.header-menu{

}
.header-menu ul{
    display: flex;
}
.header-menu ul li{
    font-weight: 700;
    font-size: 18px;
}
.header-menu ul li a{
    margin: 20px;
}
.header-menu ul li:hover{
    color: slateblue;
}
/*--header end--*/

/*--banner start--*/
.banner-img{
    border: 2px solid #ddd;
    padding: 2px;
}
/*--banner end--*/

/*--about start--*/
.about{
    margin: 80px 0;
}

.about-title h2{
    margin-bottom: 25px;
}
.about-title p{

}
.about-details{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 60px;
}
.about-single{
    padding: 20px;
    width: 350px;
    border: 1px solid #ddd ;
}
.about-single:hover{
    border-color: #f07e41;
}
.about-single i{
    font-size: 25px;
    padding: 12px;
    border: 1px solid #ddd;
    border-radius: 50%;
}
.about-single h4{
    margin: 10px 0;
    color: rgb(53, 53, 53);
    font-size: 25px;
    font-weight: 700;
    text-transform: capitalize;
}
.about-single p{
     margin-top: 15px;
}
/*--about end--*/


/*--service start--*/
.service-wrapper{
    background: rgb(243, 239, 239);
    margin: 80px 0;
}
.service-title h2{
   padding: 40px;
}
.service-details{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.service-single{
    margin-bottom: 70px;
    padding: 20px;
    width: 350px;
    background: #fff;
}
.service-single h4{
    text-transform: capitalize;
    background-color: teal;
    padding: 14px;
    margin-bottom: 15px;
}
.service-single img{

}
.service-single p{
    margin-top: 20px;
}
/*--service end--*/

/*--gallery start--*/
.gallery-wrapper{
    margin: 70px 0;
}
.gallery{

}
.gallery-title{

}
.gallery-title h2 {
    margin-bottom: 50px;
}
.gallery-images{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
.single-image{
    width: 250px;
    margin-bottom: 35px;
    border: 2px solid #ddd;
    padding: 2px;
    border-radius: 2%;
}
/*--gallery end--*/

/*--contact start--*/
.contact-wrapper{
    background: rgb(243, 239, 239);
    margin-top: 80px;
}
.forms{
    display: flex;
    justify-content: space-between;
    padding: 45px 0;
}
.contact-form h4, .address-form h4{
    font-weight: 700;
    font-size: 30px;
    margin-bottom: 35px;
}
.contact-form form{
    margin-bottom: 35px;
}
.contact-form input{
    width: 700px;
    padding: 8px;
    margin-bottom: 12px;
    border: 1px solid #ddd;
}
.contact-form textarea{
    padding: 8px;
    width: 700px;
    height: 150px;
    border: 1px solid #ddd;
}
.contact-form input[type="submit"]{
    width: auto;
    padding: 8px 30px;
    background: #f5926e;
    text-transform: capitalize;
    color: #fff;
    border-radius: 5%;
    cursor: pointer;
    margin-top: 20px;
}
.contact-form input[type="submit"]:hover{
    background: #e85b27;
    color: #14f707;
}
.address-form{
    margin-right: 50px;
}
.address-form ul{
    margin-top: 20px;
}
.address-form ul li{
    margin-bottom: 10px;
}
.address-form ul li i{
    margin-right: 10px;
    border: 1px solid #f87342;
    background: #f87342;
    border-radius: 50%;
    padding: 13px;
}
/*--contact start--*/

/*--footer start here--*/
.footer-part{
    background: teal;
    padding: 15px;
    text-transform: capitalize;
}
.footer-part p{
    margin-top: 15px;
    color: #fff;
}
/*--footer end here--*/
