/*--reset code--*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
img{
    width: 100%;
}
ul{
    list-style: none;
}

/*--header start here--*/
.fix::before, .fix::after{
    content: "";
    display: table;
    clear: both;
}
.menubar{
   background-color:#ddd;
   padding: 10px;
   margin: 0 auto;
}
.logo{
    float: left;
    width: 270px;
    margin-right: 30px;  
    margin-top: 8px 0;
}
.logo a{

}
.logo a img{

}
.menu{
  float: right;
  width: 790px;
}
.menu ul{
  text-align: right;
  margin-top: 15px;
}
.menu ul li{
   display: inline-block;
}
.menu ul li a{
   color: #333;
   padding: 8px 20px;
   text-decoration: none;
   display: block;
   font-size: 18px;
   font-weight: bold;
   transition: .5s;
}
.menu ul li a:hover{
    background-color:#65a6eb;
    color: #fff;
    border-radius: 5%;
}
/*--header end here--*/

/*--service start here--*/
.service{
    margin: 80px 0;
}
.service-title h2{
    text-transform: capitalize;
    font-sigiitze: 50px;
    margin-bottom: 40px;
    color: #5c5a59;
}
.service-details{
    float: left;
    width: 350px;
    margin-right: 30px;
    padding: 20px;
    background-color: teal;
}
.service-page .service-details{
    width: 255px;
    margin-bottom: 30px;
}
.service-details:last-child, .service-page .service-details:nth-child(4) {
    margin-right: 0;
}

.service-details h4{
    padding-bottom: 13px;
    text-transform: capitalize;
    color: #fff;

}
.service-details p{
    margin:24px;
    color: #f0f2f5;
    font-size: 14px;
    line-height: 18px;
}
.service-details a{
    text-decoration: none;
    color: #fff;
    padding: 6px;
    border-radius: 3px;
    background-color:#f5926e;
}
.service-details a:hover{
    background-color: #e85b27;
    color: #14f707;
}
/*--service end here--*/

/*--about start here--*/
.about{
    margin: 80px 0;
}
.about-left{
    float: left;
    margin-right: 60px;
    width: 700px;
}
.about-left h2{
    font-size: 35px;
    font-weight: bold;
    color: #5c5a59;
    margin-bottom: 24px;
}
.about-left p{
    font-size: 17px;
    color: #73706e;
    line-height: 24px;
    margin-bottom: 45px;
}
.about-left a{
    text-decoration: none;
    color: #fff;
    padding: 6px;
    border-radius: 3px;
    background-color:#f5926e;;
}
.about-left a:hover{
    background: #e85b27;
    color: #14f707;
}
.about-sidebar{
   float: left;
   width: 350px;
}
.about-sidebar h2{
    font-size: 35px;
    font-weight: bold;
    color: #5c5a59;
    margin-bottom: 24px;
}
.about-sidebar ul{

}
.about-sidebar ul li{
    list-style: none;
    background-image: url('../images/arrow.png');
    background-repeat: no-repeat;
    background-position: -6px 1px;
    padding-left: 26px;
    margin-bottom: 7px;
    padding-bottom: 7px;
    border-bottom: 1px solid #73706e;

}
.about-sidebar ul li:last-child{
    border-bottom: none;
}
.about-sidebar ul li a{
    text-decoration: none;
    display: block;
    color: #73706e;
    font-size: 17px;
    text-transform: uppercase;
    transition: .5s;
}
.about-sidebar ul li a:hover{
    color: blue;
}
/*--about end here--*/

/*--footer start here--*/
.footer-part{
    background: teal;
    color: #fff;
    padding: 15px;
    text-transform: capitalize;
}
.footer-part p{
    margin-top: 15px;

}
/*--footer end here--*/




/*--About page start here--*/

/*--banner start--*/

/*--banner end--*/
.about-banner-img{
    background-size: cover;
    background-position: center;
    padding: 150px;
    position: relative;
    z-index: 2;
}
.about-banner-img::after {
    position: absolute;
    content: '';
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background: #333;
    z-index: -1;
    opacity: 30%;
}
.about-banner-img h2{
    color: #fff;
    font-size: 48px;
    opacity: 80%;
}

/*--About page end here--*/


/*--gallery page start here--*/
.galleries{
    margin: 80px 0;
}
.gallery-title h2{
    text-transform: capitalize;
    font-size: 50px;
    margin-bottom: 40px;
    color: #5c5a59;
}
.gallery-video{
    float: left;
    width: 255px;
    margin-right: 30px;
    margin-bottom: 30px;
}
.gallery-video:nth-child(5), .gallery-video:last-child{
    margin-right: 0;
}
.gallery-video iframe{
    width: 100%;
    border: 1px solid #ddd;
    padding: 3px;
}
/*--gallery page end here--*/


/*--contact page start here--*/
.contact{
    margin: 80px 0;
}
.forms{

}
.contact-form{
    float: left;
    width: 670px;
    margin-right: 70px;

}
.contact-form h4{
    margin-bottom: 20px;
    color: #5c5a59;
    font-size: 25px
}
.contact-form form{

}
.contact-form input{
    width: 100%;
    border: 1px solid #ddd;
    padding: 5px;
    margin-bottom: 10px;
}
.contact-form textarea{
    width: 100%;
    height: 200px;
    border: 1px solid #ddd;
    padding: 5px;
    margin-bottom: 10px;

}
.contact-form input[type="submit"]{
    width: auto;
    padding: 8px 30px;
    background: #f5926e;
    text-transform: capitalize;
    color: #fff;
    border-radius: 5%;
    cursor: pointer;
}
.contact-form input[type="submit"]:hover{
    background: #e85b27;
    color: #14f707;
}
.address-form{
   float: left;
   width: 300px;
}
.address-form h4{
    margin-bottom: 20px;
    color: #5c5a59;
    font-size: 25px
}
.address-form ul{

}
.address-form ul li{
    border-bottom: 1px solid #ddd;
    padding-bottom: 10px;
    margin-bottom: 10px;
    font-size: 17px;
    font-weight: 500;
}
/*--contact page end here--*/


/*--map page start here--*/
.map{
    margin-bottom: 50px;
}
.map iframe{
    width: 100%;
    height: 350px;
    border: 1px solid #ddd;
    padding: 5px;
}
}
/*--map page start end--*/



